<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

<ion-content>
<br><br>
  <ion-grid>
      <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input type="text" required [(ngModel)]="username" #name="ngModel"></ion-input>
                </ion-item>
          
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
            </ion-list> 
          </ion-col>
        </ion-row>
    </ion-grid>
    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#FBD148" d="M53,-70.6C67.1,-62.7,75.8,-45.1,75.4,-28.7C74.9,-12.3,65.3,2.9,58.1,16.9C50.8,31,46,43.8,36.7,52.1C27.5,60.3,13.7,63.9,1,62.5C-11.7,61.1,-23.4,54.6,-33,46.5C-42.6,38.4,-50.2,28.6,-54,17.5C-57.7,6.3,-57.5,-6.2,-54.2,-18.1C-51,-30,-44.6,-41.4,-35.1,-50.7C-25.5,-60,-12.8,-67.3,3.3,-71.9C19.5,-76.5,38.9,-78.4,53,-70.6Z" transform="translate(100 100)" />
    </svg>
  

    <div class="center">
      <ion-button (click)="login()" color="warning">Login</ion-button>
      <!-- [routerLink]="['/profile']"  -->
      </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>Don't have an account yet? &nbsp;<ion-button [routerLink]="['/signup']" color="warning">Sign Up</ion-button></ion-item>
  </ion-toolbar>
</ion-footer>