@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
}

.center {
    margin-left: 35%;
    margin-right: 10%;
    background-color: none;
}

.bottom-blob {
    z-index: -1;
    width: 480px;
    position: relative;
    right: -40%;
}

ion-input {
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    height: 46px;
    padding: 0 20px 0 23px;
    
    }
  