.center {
    margin-left: 30%;
    margin-right: 10%;
    background-color: none;
}

ion-card {
    width: 280px;
    margin-top: 75px;
    margin-left: 50px;
    img{
        width: 150px;
        margin-left: 50px;
        margin-top: 25px;
    }
}